body {
    color: #ffffff;
    text-align: left;
     background-image: url('Sebastian.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.floating-number {
    position: absolute;
 
    transition: opacity 0.5s ease, transform 0.5s ease;
 
    opacity: 0;
    width: 200px;
    height: 100px;
    z-index: 1000;
}
 
.floating-number.sichtbar {
    opacity: 1;
    transform: translateY(-10px);

}




